/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
}

.blurT {
  /*display: block;*/
  color: #888;
}

.boldT {
  font-weight: bold;
}

.title {
  font-weight: bold;
  margin: 5px;
}

.bg-gray {
  background-color: gray;
}

.pointer {
  cursor: pointer;
}

.font-brd {
  font-size: 25px;
}

.font-link {
  color: #000;
}

.form-search {
  float: right;
  line-height: 25px;
}

.clear {
  clear: both;
}

img {

  margin: 0 auto;
}

svg {
  width: 20px;
}

/*====================wrapper==========================*/
.wrapper {
  width: 80%;
  max-width: 1215px;
  margin: 0 auto;
}

/*====================Main-Content==========================*/

.content, .sidebar {
  margin-top: 5px;
  border-bottom: 30px;
  margin-bottom: 50px;
  height: auto;
}

.content {
  display: inline-block;
  width: 65%;
}

.content .title {
  font-size: 30px;
  margin: 5px;
}

.content .box {
  width: 25%;
  max-width: 170px;
  min-width: 145px;
  max-height: 250px;
  display: inline-block;
  cursor: pointer;
  margin: 2px 5px;
  text-align: center;
  box-shadow: -1px 2px 5px #888888;
  border-radius: 3px;
}

.content .box:hover {
  box-shadow: 5px 10px 18px #888888;
  border-radius: 3px;
}

.content .box img {
  width: 100%;
}
/*====================playmusic&listsongs================*/
.rslides img{
  width: 100%;
}
.listsongs, .playmusic {
  display: inline-block;
  height: 400px;
  vertical-align: top;
}
/*playmusic*/
.playmusic{
  width: 65%;
}

.products-box {
  background:#fff;
  padding: 0 1em 3em 1em;
}
.row{
  width: 100%;
}
/*.container{*/
/*margin-top: 60%;*/
/*}*/
/*  GRID OF Five   ============================================================================= */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.group {
  zoom:1;
}
.grid_1_of_5{
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.grid_1_of_5:first-child {
  margin-left: 0;
}
.images_1_of_5 {
  width: 18.5%;
  padding: 0.8em 0 0% 0;
  background: #161616;
  text-align: center;
  border: 1px solid rgba(238, 238, 238, 0.13);
}
.images_1_of_5 label{
  color:#FC3019;
  text-decoration:line-through;
}
.images_1_of_5  img{
  max-width:100%;
  display:block;
  margin: 0 auto;
}
.images_1_of_5  h3{
  display: block;
  padding: 0.5em 0 0.2em 0;
  font-family: 'Open Sans', sans-serif;
  font-size:0.875em;
  color: #FFF;
  border-right: 1px solid rgba(151, 151, 151, 0.11);
  text-transform: uppercase;
}
.images_1_of_5  p {
  font-size:0.8125em;
  color: #989898;
  line-height: 1.6em;
  font-family : verdana, arial, helvetica, helve, sans-serif;
}
.images_1_of_5 h4{
  font-size: 0.8125em;
  color: #555;
  line-height: 1.6em;
  font-family: verdana, arial, helvetica, helve, sans-serif;
  padding: 7px 0px;
}
.images_1_of_5:hover{
  border: 1px solid #FC3019;
}
.images_1_of_5 .button{
  margin-top:.3em;
  line-height:1.9em;
}
.images_1_of_5 .button a{
  /*padding: 8px 10px;*/
  /*display: block;*/
  /*background: url(../assets/images/head1.png) repeat-x;*/
  /*border: none;*/
  /*font: bold 12px "Arial"!important;*/
  /*color: #fff;*/
  /*text-align: center;*/
  /*cursor: pointer;*/
  /*-moz-transition: background 0.5s ease;*/
  /*-o-transition: background 0.5s ease;*/
  /*-webkit-transition: background 0.5s ease;*/
}
.images_1_of_5 .button a:hover{
  /*background: url(../assets/images/head1h.png)repeat-x;*/
  /*text-decoration: none !important;*/
  /*-moz-transition: background 0.2s ease;*/
  /*-o-transition: background 0.2s ease;*/
  /*-webkit-transition: background 0.2s ease;*/
}

/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
  .wrap{
    width:90%;
  }
}

/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px){

  .wrap{
    width:95%;
  }
  .grid_1_of_5{
    margin: 2% 0 2% 0%;
  }
  .images_1_of_5 {
    width:94%;
    padding:3%;
  }
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {

  .wrap{
    width:95%;
  }
  .grid_1_of_5{
    margin: 2% 0 2% 0%;
  }
  .images_1_of_5 {
    width:92%;
    padding:4%;
  }
}
.image-slider {
  box-shadow: 0 10px 10px -10px #555;
  float: left;
}

audio{
  width: 100%;
}
.col-md-6{
  width: 55%;
}
/*listsong*/
.listsongs{
  width: 34%;
  border: 1px solid #000;
}

.listsongs .subtag .avatar{
  width: 20%;
  border-radius: 5px;
  display: inline-block;
}

.listsongs .subtag .subcontent{
  display: inline-block;
  margin-left: 5px;
}

.listsongs .subtag .subcontent .subtitle{
  font-size: 20px
}

.listsongs .subtag .subcontent .view{
  /*color: #grey;*/
  /*border: 1px solid #*/
}

/*====================Sidebar==========================*/
.sidebar {
  display: inline-block;
  width: 34%;
  float: right;
}

.sidebar .tab-view {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #888;
  margin-top: 5px;
  padding-left: 5px;
  overflow: hidden;
}

.sidebar .tab-view .titlev {
  display: inline-block;
  height: 100%;
  margin: 0;
  line-height: 100px;
}

.sidebar .tab-view .contentv {
  display: inline-block;
  margin-left: 5px;

}

.sidebar .tab-view .sub-content {
  display: inline-block;
  float: right;
  height: 100%;
  margin-right: 40px;
  font-size: 18px;
  padding-top: 20px;
}

.sidebar .tab-view .sub-content .view i {
  cursor: pointer;
}

.sidebar .tab-view img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%
}

/*====================Footer==========================*/
/*.footer{*/
/**/
/*}*/
.footer {

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  height: 90%;
  border-top: 350px solid;
  display: block;
  float: top;


}

.page-footer {
  background-color: #e6e6e6;
  border-top: 100px;



}

body {
  color: #222;
  font-family: 'Roboto', sans-serif;
}

.share {
  margin-left: 68%;
  margin-top: 10%;
  max-width: 60px;
  list-style: none;
  padding-top: 60px;
  border-radius: 50%;
}

.share li {
  width: 60px;
  color: #fff;
  height: 60px;
  line-height: 50px;
  text-align: center;
  position: relative;
}

li.middle a {
  left: 0;
  height: 60px;
  width: 60px;
  position: absolute;
  transition: all .4s ease-in-out 0s;
}

li.middle:hover {
  list-style: middle;
}

.share-icon {
  background: #568;
  position: relative;
  z-index: 1;
}

a.facebook {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #4264AA;
}

a.twitter {
  position: absolute;
  top: 0;
  right: 0px;
  background-color: #6CB7F0;
}

.share li a {
  color: #fff;
  font-size: 30px;
}

.top {
  background: #FFAD0F;
}

.bottom {
  background: #EA5154;
}

.middle span {
  position: absolute;
  display: block;
  bottom: 0;
  left: 11%;
  top: 29px;
  font-size: 12px;
  color: #ccc;
  z-index: 2;
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.share li:hover .facebook {
  left: -60px;
}

.share li:hover .twitter {
  left: 60px;
}

.share li:hover span {
  opacity: 1;
}
/*music*/
.navbar-text{
  margin-left: 10px;
  margin-top: .5rem;
  margin-bottom: .5rem;
  margin-right: 10px;
}

.ic-pointer{
  background-color: #343a40!important;
  color: #FFFFFF;
}
.btn{
  margin-left: 10px;
}
