<form #form="ngForm"
      (ngSubmit)="onSubmit(form)">
  <label>
    name:
    <input type="text" name="name" #name="ngModel" required="required" [(ngModel)]="songForm.name">
  </label>
  <br>
  <br>
  <label>
    singer:
    <input type="text" name="singer" #singer="ngModel" required="required" [(ngModel)]="songForm.singerName">
  </label>
  <br>
  <br>
  <label>
    file: {{songForm.link || ''}}
    <input type="file" (change)="append(file.files)" #file>
  </label>
  <br>
  <br>
  <input type="submit" value="create"> | <button type="button" (click)="delete()">delete</button>
</form>

<hr>
<i>status: {{status}}</i>
