  <h2 class="title">#Top</h2>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="nav-item active">
      <a class="nav-link active" href="#home" aria-controls="home" role="tab" data-toggle="tab">#VPOP</a>
    </li>
    <li role="presentation" class="nav-item">
      <a class="nav-link" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">#KPOP</a>
    </li>
    <li role="presentation" class="nav-item">
      <a class="nav-link" href="#messages" aria-controls="messages" role="tab" data-toggle="tab">#Classic</a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <!-- sub-element -->
      <div class="tab-view" *ngFor="let song of songlist">
        <h1 class="titlev">{{getFommatOfRankNumber(countRank)}}</h1>
        <div class="contentv">
          <span class="boldT">#{{song.name}}</span><br>
          <span><i class="blurT">#singer</i></span>
        </div>
        <div class="sub-content">
          <div class="view">
				    				<span>
				    					<i class="blurT views">{{song.views}} views</i><br>
                      <a (click)="toMusicPage(song.id)"><i class="fas fa-play"></i></a> |
				    					<a href="{{downloadSongURL+song.link}}"><i class="fas fa-cloud-download-alt"></i></a>
				    				</span>

          </div>
        </div>
        <div class="clear"></div>
      </div>
      <!-- end-sub-element -->

    </div>
    <div role="tabpanel" class="tab-pane" id="profile">...</div>
    <div role="tabpanel" class="tab-pane" id="messages">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
  </div>
  <!-- End-tabpanes -->
