<h2 class="title">#Top</h2>
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">#VPOP</a>
  </li>
  <li role="presentation">
    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">#KPOP</a>
  </li>
  <li role="presentation">
    <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">#Classic</a>
  </li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="home">
    <!-- sub-element -->
    <div class="tab-view">
      <h1 class="titlev">01</h1>
      <div class="contentv">
        <span class="boldT">#Name 01</span><br>
        <span><i class="blurT">#singer</i></span>
      </div>
      <div class="sub-content">
        <div class="view">
				    				<span>
				    					<i class="blurT views">2004 views</i><br>
				    					<i class="fas fa-headphones"></i> |
				    					<i class="fas fa-cloud-download-alt"></i>
				    				</span>

        </div>
      </div>
      <div class="clear"></div>
    </div>
    <!-- end-sub-element -->

    <!-- sub-element -->
    <div class="tab-view">
      <h1 class="titlev">02</h1>
      <div class="contentv">
        <span class="boldT">#Name 02</span><br>
        <span><i class="blurT">#singer</i></span>
      </div>
      <div class="sub-content">
        <div class="view">
				    				<span>
				    					<i class="blurT views">1925 views</i><br>
				    					<i class="fas fa-headphones"></i> |
				    					<i class="fas fa-cloud-download-alt"></i>
				    				</span>

        </div>
      </div>
      <div class="clear"></div>
    </div>
    <!-- end-sub-element -->

    <!-- sub-element -->
    <div class="tab-view">
      <h1 class="titlev">03</h1>
      <div class="contentv">
        <span class="boldT">#Name 03</span><br>
        <span><i class="blurT">#singer</i></span>
      </div>
      <div class="sub-content">
        <div class="view">
				    				<span>
				    					<i class="blurT views">1552 views</i><br>
				    					<i class="fas fa-headphones"></i> |
				    					<i class="fas fa-cloud-download-alt"></i>
				    				</span>

        </div>
      </div>
      <div class="clear"></div>
    </div>
    <!-- end-sub-element -->

    <!-- sub-element -->
    <div class="tab-view">
      <h1 class="titlev">04</h1>
      <div class="contentv">
        <span class="boldT">#Name 04</span><br>
        <span><i class="blurT">#singer</i></span>
      </div>
      <div class="sub-content">
        <div class="view">
				    				<span>
				    					<i class="blurT views">1232 views</i><br>
				    					<i class="fas fa-headphones"></i> |
				    					<i class="fas fa-cloud-download-alt"></i>
				    				</span>

        </div>
      </div>
      <div class="clear"></div>
    </div>
    <!-- end-sub-element -->

    <!-- sub-element -->
    <div class="tab-view">
      <h1 class="titlev">05</h1>
      <div class="contentv">
        <span class="boldT">#Name 05</span><br>
        <span><i class="blurT">#singer</i></span>
      </div>
      <div class="sub-content">
        <div class="view">
				    				<span>
				    					<i class="blurT views">956 views</i><br>
				    					<i class="fas fa-headphones"></i> |
				    					<i class="fas fa-cloud-download-alt"></i>
				    				</span>

        </div>
      </div>
      <div class="clear"></div>
    </div>
    <!-- end-sub-element -->
  </div>
  <div role="tabpanel" class="tab-pane" id="profile">...</div>
  <div role="tabpanel" class="tab-pane" id="messages">...</div>
  <div role="tabpanel" class="tab-pane" id="settings">...</div>
</div>
<!-- End-tabpanes -->
