<form #songForm="ngForm" (ngSubmit)="onSubmit(songForm)">
  <div class="form-group">
    <label for="name">Song's name</label>
    <input type="text" class="form-control" id="name"  placeholder="Enter name" name="name" [(ngModel)]="newSong.name">
  </div>
  <div class="form-group">
    <label for="singer">Singer</label>
    <input type="text" class="form-control" id="singer" placeholder="Enter singer" name="singer" (keyup)="onChange(singer.value)" #singer [ngModel]="currentSinger">
    <ul class="list-group" *ngIf="singerList">
      <li style="cursor: pointer" class="list-group-item" *ngFor="let singer of singerList; index as i" (click)="getSinger(singer)"
      [style.color]="i == 0? '#007bff': 'black' ">{{singer.name}}</li>
    </ul>
  </div>
  <div class="form-group">
    <label class="mr-sm-2" for="inlineFormCustomSelect">Gene</label>
    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="gene" [(ngModel)]="newSong.gene">
      <option selected value="2">Vpop</option>
      <option value="1">Kpop</option>
      <option value="3">Us & Uk</option>
    </select>
  </div>
  <div class="form-group">
    <label for="filecontrol">Add your file (mp3)</label>
    <input type="file" class="form-control-file" id="filecontrol" name="file" ngModel (change)="appendFile(uploadFile.files)" #uploadFile>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Create</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
</form>

