<!--playmusic-->
<div class="container">
  <!-- Music Player -->
  <div class="row">
    <!-- Main player column -->
    <div class="col-7" style="float: left;">

      <!-- Start player -->
      <div class="row">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
        <div class="music_player">
          <div class="artist_img">
            <img src="assets/images/adele1.jpg">
          </div>
          <div class="time_slider">
            <span id="running_time">0:00</span>
            <input id="timeLine" #timeLine type="range" value="0" min="0" max="100" (click)="skipTo(timeLine.value)">
            <span id="song_duration">{{songDuration}}</span>
          </div>
          <div class="now_playing">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <p> now playing </p>
            <i class="fa fa-heart" aria-hidden="true"></i>
          </div>
          <div class="music_info">
            <h2>{{songSinger}}</h2>
            <p class="date">{{songDate}}</p>
            <p class="song_title">{{songTitle}}</p>
            <fieldset class="rating">
              <input type="radio" id="star5" name="rating" value="5"/><label class="full" for="star5"
                                                                             title="Awesome - 5 stars"></label>
              <input type="radio" id="star4half" name="rating" value="4 and a half"/><label class="half" for="star4half"
                                                                                            title="Pretty good - 4.5 stars"></label>
              <input type="radio" id="star4" name="rating" value="4"/><label class="full" for="star4"
                                                                             title="Pretty good - 4 stars"></label>
              <input type="radio" id="star3half" name="rating" value="3 and a half"/><label class="half" for="star3half"
                                                                                            title="Meh - 3.5 stars"></label>
              <input type="radio" id="star3" name="rating" value="3"/><label class="full" for="star3"
                                                                             title="Meh - 3 stars"></label>
              <input type="radio" id="star2half" name="rating" value="2 and a half"/><label class="half" for="star2half"
                                                                                            title="Kinda bad - 2.5 stars"></label>
              <input type="radio" id="star2" name="rating" value="2"/><label class="full" for="star2"
                                                                             title="Kinda bad - 2 stars"></label>
              <input type="radio" id="star1half" name="rating" value="1 and a half"/><label class="half" for="star1half"
                                                                                            title="Meh - 1.5 stars"></label>
              <input type="radio" id="star1" name="rating" value="1"/><label class="full" for="star1"
                                                                             title="Sucks big time - 1 star"></label>
              <input type="radio" id="starhalf" name="rating" value="half"/><label class="half" for="starhalf"
                                                                                   title="Sucks big time - 0.5 stars"></label>
            </fieldset>
          </div>
          <div class="controllers">
            <i class="fa fa-music" aria-hidden="true"></i>
            <i class="fa fa-fast-backward" aria-hidden="true"></i>
            <i id="playBtn" class="fa fa-play" aria-hidden="true" (click)="clickPlayBtn()"></i>
            <i class="fa fa-fast-forward" aria-hidden="true"></i>
            <i class="fa fa-retweet" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div class="details-info">
        <div class="m-title">
          <h2 class="title">{{songTitle}}</h2>
          <small>gene</small>
          <a>{{songGene}} </a><br>
          <small>by</small>
          <a>{{songSinger}} </a><i class="fas fa-microphone"></i><br>
          <small>at</small>
          <a>{{songDate}} </a><i class="fas fa-calendar"></i>
        </div>
        <div class="m-views">
          <h2>{{songViews}} <i class="fas fa-headphones"></i></h2>
        </div>
      </div>

      <!-- End player -->
      <div class="songmusic row">
        <h3 class="footer-heading md-4">{{playlist.name}}'s Song</h3>
        <div class="table-responsive-md">
          <table class="table" *ngIf="playlist!=null">
            <tr *ngFor="let song of songList">
              <td class="d-flex">
                <figure class="image mr-4">
                  <img src="assets/images/default.png" alt="" class="img-fluid">
                </figure>
                <div class="text">
                  <a (click)="toMusicPage(song.id)" class="playlist_title"><h3
                    class="heading font-weight-light">{{song.name}}</h3></a>
                  <a href="#">
                    <small class="text-muted">{{song.views}} <i class="fas fa-headphones"></i></small>
                  </a><br>
                  <a href="#">
                    <small class="text-muted">{{song.singer?.name || "Unknown"}}</small>
                  </a>
                </div>
              </td>
              <td>
                <div class="button">
                  <a (click)="toMusicPage(song.id)"> <i class="fa fa-play"></i></a>
                  <a href="{{downloadSongURL + song.link}}"> <i class="fa fa-download"></i></a>
                  <a data-toggle="modal" data-target="#choose-playlist-modal"
                     (click)="addToPlayList(song.id)">
                    <i class="fa fa-plus"></i>
                  </a>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="sidebar">
      <app-toplist
        [choose-playlist-input]="songForPlaylist">
      </app-toplist>
    </div>
  </div>
  <div class="clear"></div>
  <div class="content">
    <app-playlist-list [title]="'#Other Playlist'"></app-playlist-list>
  </div>
  <div class="content">
    <app-listsinger [title]="'#Popular Singer'"></app-listsinger>
  </div>
  <!-- End Playlist list -->
  <br>
</div>
